html {
	min-height: 100vh;
}
body {
	min-height: 100vh;
}
#header {
	background-color: #000070;
	display: flex;
}

#bar-toggle {
	color: #a1a1a1;
	border-style: solid;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	height: 50px;
	width: 50px;
	text-align: center;
}

#bar-toggle:hover {
	background-color: #0070a1;
}

#title {
	color: #f2f2f2;
	margin: auto;
	font-family: 'Marck Script', cursive;
	font-size: 40px;
}

#sign-in {
	height: 20px;
	line-height: 20px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	color: #a1a1a1;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
}
#sign-in:hover {
	background-color: #0070a1;
}
.no-display {
	display: none;
}
#header.collapse {
	display: inline-flex;
}
#bar-toggle.collapse {
	margin-left: unset;
}
#content {
	width: 100vw;
	height: 100vh;
}
